@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  
  --background-start-rgb: 14, 25, 45;
  --background-end-rgb: 14, 25, 45;
  --animation-delay:0.3s;
} */

.project-container{
  background-color: rgb(21, 34 , 62);
}

@media (prefers-color-scheme: dark) {
  :root {
    
    --background-start-rgb: 14, 25, 45;
    --background-end-rgb: 14, 25 ,45;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background-start-rgb: 14, 25, 45;
    --background-end-rgb: 14, 25 ,45;
  }
}
.link{
  text-align: center;
  align-content: center;
  align-items: center;
}

body {
  
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
